* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 36.563em;
  max-width: 58.313em;
  width: 100%;
  color: #fffafa;
  font-size: 1em;
  box-shadow: 0.1em 0.1em 1.5em rgba(54, 54, 54, 1);
  -moz-box-shadow: 0.1em 0.1em 1.5em rgba(54, 54, 54, 1);
  -webkit-box-shadow: 0.1em 0.1em 1.5em rgba(54, 54, 54, 1);
}

img,
button,
input,
select,
section,
body {
  border-radius: 0.2em;
}

#menu::-webkit-scrollbar,
#mainContainer::-webkit-scrollbar {
  display: none;
}

.invisible {
  display: none;
}

#header,
#footer {
  width: 100%;
  border-left: solid 0.05em #1f1f1f;
  border-right: solid 0.05em #1f1f1f;
  border-bottom: solid 0.05em #1f1f1f;
  background-color: #696969;
  color: #fffafa;
  text-shadow: 0.15em 0.15em 0.1em rgba(0, 0, 0, 0.459);
}

#header {
  padding: 0.2em;
  height: 3em;
  border-radius: 0.2em 0.2em 0 0;
}

#header h1 {
  float: left;
  font-style: italic;
}

#header h2 {
  float: right;
  margin: 0.6%;
}

#waffleIcon {
  float: right;
  margin-top: 0.2%;
  margin-right: 0.5%;
  width: 3.8%;
  filter: drop-shadow(0.1em 0.1em 0.1em #000000);
}

#mainContainer {
  padding: 0.2em;
  max-width: 58.313em;
  max-height: 31.063em;
  width: 100%;
  height: 100%;
  border: solid 0.1em #1f1f1f;
  background-color: #1f1f1f;
  text-shadow: 0.1em 0.1em 0.1em rgba(109, 109, 109, 0.082);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#footer {
  height: 2.5em;
  border-radius: 0 0 0.2em 0.2em;
}

#audioBox {
  float: right;
  margin: 0.2% 5%;
  padding: 0.4%;
  width: 25%;
  height: 2.2em;
  background-color: #1f1f1f;
}

#progBar {
  -webkit-appearance: none;
  margin: 1% 0;
  width: 55%;
  height: 0.2em;
  background: transparent;
}

#progBar::-webkit-slider-runnable-track {
  cursor: pointer;
  width: 55%;
  height: 0.2em;
  background: #fffafa;
  /* border-radius: 0.2em; */
  border: solid 0.05em #696969;
}

#progBar::-moz-range-track {
  cursor: pointer;
  width: 50%;
  height: 0.2em;
  background: #fffafa;
  /* border-radius: 0.2em; */
  border: solid 0.05em #696969;
}

#progBar::-ms-track {
  cursor: pointer;
  width: 55%;
  height: 0.2em;
  background: transparent;
  border-width: 0.05em;
  border-color: transparent;
  color: transparent;
}

#progBar::-ms-fill-upper {
  background: #fffafa;
  border: solid 0.05em #696969;
  /* border-radius: 0.2em; */
}

#progBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* margin-top: -8.5%; */
  margin-top: -0.7em;
  cursor: pointer;
  height: 1.5em;
  width: 0.8em;
  border-radius: 0.2em;
  border: solid 0.05em #1f1f1f;
  background: #fffafa;
}

#progBar::-moz-range-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  height: 1.5em;
  width: 0.8em;
  border-radius: 0.2em;
  border: solid 0.05em #1f1f1f;
  background: #fffafa;
}

#progBar::-ms-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  height: 1.5em;
  width: 0.8em;
  border-radius: 0.2em;
  border: solid 0.05em #1f1f1f;
  background: #fffafa;
}

.audioBtn,
.disabledAudioBtn {
  margin-right: 2%;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  font-weight: bold;
}

.audioBtn {
  background-color: #1f1f1f;
  color: #fffafa;
  border: solid 0.05em #fffafa;
}

.disabledAudioBtn {
  background-color: #1f1f1f;
  border-color: #696969;
  border: solid 0.05em #696969;
}

.audioBtn:hover {
  cursor: pointer;
  background-color: #fffafa;
  color: #1f1f1f;
}

#screenOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#menu {
  position: fixed;
  padding: 1%;
  left: 0;
  top: 14em;
  height: 20.043em;
  width: 15.625em;
  background-color: #000000;
  opacity: 0.96;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#toc {
  margin-bottom: 4%;
  font-style: italic;
}

#menuList {
  list-style: none;
}

.modBox {
  margin-bottom: 5%;
}

.modTitle {
  font-size: 1.15em;
}

.modTitle:hover {
  cursor: pointer;
  color: #696969;
}

.modList {
  margin-top: 4%;
  list-style: square;
}

.pageItem {
  margin-top: 1%;
  margin-left: 10%;
  font-size: 1em;
}

.pageLink {
  text-decoration: none;
  color: #fffafa;
}

.pageLink:hover {
  color: #696969;
}

.pageLink:active {
  color: #0000ff;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.tinyImage {
  margin: 0 5%;
  width: 10%;
}

.littleImage {
  margin: 2%;
  width: 15%;
}

.bigImage {
  margin: 0 2%;
  width: 50%;
}

.video {
  margin: 2%;
  width: 50%;
}

.ol,
.ul {
  margin-left: 2%;
}

.li {
  font-size: 0.85em;
}

.optionDefault {
  color: #696969;
}

.optionOver:hover,
.choiceBtn:hover {
  cursor: pointer;
  color: #0000ff;
}

.dropBoxContainer {
  text-align: center;
}

.dragBox,
.dropBox {
  float: left;
  margin-left: 3.3%;
  padding: 0.5em;
  min-width: 18.75em;
  width: 45%;
  height: 26em;
  border: solid 0.1em #fffafa;
}

.dropBox p {
  margin-top: 1%;
  font-size: 0.8em;
}

.dragItem {
  margin-top: 2.8%;
  width: 90%;
}

.dragItem:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.dragItem:active,
.draggedItem {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

.dragSlot {
  margin: 6% auto;
  /* max-height: 6.5em; */
  width: 90%;
  height: 6.5em;
  border-bottom: dashed 0.05em #fffafa;
}

.dropSlot {
  margin: 1% auto;
  min-height: 5.5em;
  width: 90%;
  height: 26.4%;
  border: solid 0.05em #fffafa;
  background: content-box no-repeat url('https://i.imgur.com/Q0Lm97c.png');
  background-size: cover;
}

.btn,
.disabledBtn,
.altBtn,
.chalSubBtn {
  padding: 0.6em;
  font-weight: bold;
}

.btn:active,
.altBtn:active,
.chalSubBtn:active,
.audioBtn:active {
  border: solid 0.05em #0000ff;
  -webkit-text-stroke: 0.02em #0000ff;
  filter: brightness(80%);
}

.disabledBtn {
  margin-top: 1%;
  background-color: #696969;
  border: solid 0.05em #1f1f1f;
  color: #1f1f1f;
}

.navBtn {
  margin: 0.2em;
}

.btn {
  background-color: #1f1f1f;
  color: #fffafa;
  border: solid 0.05em #696969;
}

.btn:hover {
  cursor: pointer;
  background-color: #fffafa;
  color: #1f1f1f;
  border: solid 0.05em #fffafa;
  text-shadow: 0 0.2em 0.1em rgba(73, 72, 72, 0.328);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.328);
}

.btn:active {
  background-color: #1f1f1f;
  color: #696969;
  box-shadow: inset 0 0 0.5em rgb(255, 255, 255);
}

.altBtn {
  background-color: #fffafa;
  color: #696969;
  border: solid 0.05em #696969;
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.411);
  filter: brightness(80%);
}

.altBtn:hover {
  cursor: pointer;
  background-color: #1f1f1f;
  color: #fffafa;
  text-shadow: 0 0.2em 0.1em rgba(255, 255, 255, 0.205);
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.445);
}

.altBtn:active {
  background-color: #fffafa;
  color: #696969;
}

.chalSubBtn {
  margin-top: 1%;
  background-color: #fffafa;
  color: #1f1f1f;
  border: solid 0.05em #696969;
}

.chalSubBtn:hover {
  cursor: pointer;
  background-color: #1f1f1f;
  color: #fffafa;
  border: solid 0.05em #fffafa;
  text-shadow: 0 0.2em 0.1em rgba(255, 255, 255, 0.205);
  box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.445);
}

.chalSubBtn:active {
  background-color: #fffafa;
  color: #696969;
  box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.328);
}

.modalContainer {
  display: table;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 84, 84, 0.397);
}

/* .modalInside { */
/* display: table-cell;
  vertical-align: middle; */
/* } */

/* .modalWindow {
  margin: auto;
  padding: 1.5% 0.5%;
  height: 9.5em;
  width: 18em;
  border: solid 0.05em #1f1f1f;
  background-color: #696969;
  text-shadow: 0.1em 0.1em 0.08em rgba(0, 0, 0, 0.459);
} */

.modalWindow {
  position: fixed;
  /* top: 32.744%;
  left: 34.277%; */
  padding: 1.5% 0.5%;
  height: 9.5em;
  width: 18em;
  border: solid 0.05em #1f1f1f;
  background-color: #696969;
  text-shadow: 0.1em 0.1em 0.08em rgba(0, 0, 0, 0.459);
}

.modalHeading {
  padding-left: 0.5em;
  padding-bottom: 0.2em;
  width: 100%;
  border-bottom: solid 0.05em #1f1f1f;
  font-style: italic;
  font-size: 1.5em;
}

.modalMessage {
  margin: 2%;
}

.modalBtn {
  /*  */
}

@media only screen and (max-width: 932px) {
  .modalWindow {
    /* margin: auto; */
  }
}

@media only screen and (min-width: 933px) {
  .modalWindow {
    /* position: fixed; */
    top: 12em;
    left: 20em;
  }
}
